.controls {
  background-color: $color-purple;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
  }
  .contact {
    display: flex;
    align-items: center;
    gap: 0 48px;

    &-email {
      display: flex;
      align-items: flex-end;
      gap: 0 12px;
    }

    i {
        color: #ffffff;
      }

    &-name {
        font-size: 16px;
        font-weight: 500;

        color: #f1f1f1;
      }
  }
  .auth {
    .menu {
      display: inline-flex;
      align-items: center;
      gap: 0 16px;

      list-style: none;

        &-item {
          color: #F1F1F1;
        }

        &-link {
          color:inherit;
          font-size: 16px;
          font-weight: 500;
        }
    }
    .menu-item:last-child {
      margin-left: 10px;
    }
  }
}
