body {
  font-family: $font-primary;
  color: #151875;
  line-height: 1;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1197px; //1200
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  border-radius: 2px;
  font-family: $font-primary;
  line-height: 20px;
  letter-spacing: 0.02em;
  cursor: pointer;

  &-primary {
    font-weight: 700;
    color: #ffffff;
    background-color: $color-pink;
    padding: 17px 40px;
  }

  &-secondary {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: $color-green;

    &-view {
      padding: 9px 13px;
    }
  }
}

.search {
  display: flex;

  &-input {
    width: calc(317px - 20px);
    border: 2px solid #e7e6ef;
    display: flex;
    align-items: center;
   

    input {
      border: none;
      margin-left: 10px;
      background-color: inherit;
    }
  }
  &-icon {
    padding: 10px;
    background-color: $color-pink;
    color: #ffffff;
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 29px;
}

.product {
  position: relative;
  overflow: hidden;
  

  &-shadow {
    box-shadow: 1px 1px 6px rgba($color: $color-pantone-purple, $alpha: 1);
  }

  &-rounded {
    background-color: none;

    .product-image{
      padding: 71px 60px 49px 60px !important;
      border-radius: 50% !important;

      background-color: #F6F7FB;
    
      box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    }

    .product-icon {
      display: none;
    }
    &:hover .product-image::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  }
  &-image {
    padding: 46px 40px 12px 40px;

    background-color: #f6f7fb;

    position: relative;
  }

  &-content {
    padding: 17px 0;
    text-align: center;
  }
  &-name {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 18px;
    color: $color-pink;

    margin-bottom: 12px;
  }
  &-price {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 14px;
    color: $color-navy-blue;
  }

  &-events {
    position: absolute;
    top: 18px;
    left: -100%;

    display: flex;
    gap:0 16px;

    transition: all 0.35s linear;
  }
  &-icon {
    padding: 5px;
    border-radius: 5px;

    i {
      color: #ffffff;
    }

    &:hover {
      background-color: #eeeffb;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
      i {
        color: #2f1ac4;
      }
    }
  }
  .view-detail {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);

    transition: all 0.35s linear;
    opacity: 0;
  }

  &:hover .product-events {
    left: 11px;
  }
  &:hover .view-detail {
    opacity: 1;
  }
  &:hover .product-image::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  
}
