// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Lato', sans-serif;


$font-primary:'Josefin Sans', sans-serif;
$font-secondary: 'Lato', sans-serif;

$color-pink:#FB2E86;
$color-red: #FB2448;
$color-blue:#2F1AC4;
$color-off-navy-blue:#3F509E;
$color-navy-blue:#151875;
$color-sky-blue:linear-gradient(121.53deg, #F3F9FF 0%, #F1F0FF 100%);
$color-green: #08D15F;
$color-pantone-purple:#E0D3F5;
$color-purple: #7E33E0;
$color-off-purple:#9F63B5; 


