html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #151875;
  line-height: 1;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  border-radius: 2px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 20px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.button-primary {
  font-weight: 700;
  color: #ffffff;
  background-color: #FB2E86;
  padding: 17px 40px;
}
.button-secondary {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #08D15F;
}
.button-secondary-view {
  padding: 9px 13px;
}

.search {
  display: flex;
}
.search-input {
  width: 297px;
  border: 2px solid #e7e6ef;
  display: flex;
  align-items: center;
}
.search-input input {
  border: none;
  margin-left: 10px;
  background-color: inherit;
}
.search-icon {
  padding: 10px;
  background-color: #FB2E86;
  color: #ffffff;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 29px;
}

.product {
  position: relative;
  overflow: hidden;
}
.product-shadow {
  box-shadow: 1px 1px 6px #e0d3f5;
}
.product-rounded {
  background-color: none;
}
.product-rounded .product-image {
  padding: 71px 60px 49px 60px !important;
  border-radius: 50% !important;
  background-color: #F6F7FB;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}
.product-rounded .product-icon {
  display: none;
}
.product-rounded:hover .product-image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.product-image {
  padding: 46px 40px 12px 40px;
  background-color: #f6f7fb;
  position: relative;
}
.product-content {
  padding: 17px 0;
  text-align: center;
}
.product-name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FB2E86;
  margin-bottom: 12px;
}
.product-price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #151875;
}
.product-events {
  position: absolute;
  top: 18px;
  left: -100%;
  display: flex;
  gap: 0 16px;
  transition: all 0.35s linear;
}
.product-icon {
  padding: 5px;
  border-radius: 5px;
}
.product-icon i {
  color: #ffffff;
}
.product-icon:hover {
  background-color: #eeeffb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.product-icon:hover i {
  color: #2f1ac4;
}
.product .view-detail {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -65%);
  transition: all 0.35s linear;
  opacity: 0;
}
.product:hover .product-events {
  left: 11px;
}
.product:hover .view-detail {
  opacity: 1;
}
.product:hover .product-image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls {
  background-color: #7E33E0;
}
.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}
.controls .contact {
  display: flex;
  align-items: center;
  gap: 0 48px;
}
.controls .contact-email {
  display: flex;
  align-items: flex-end;
  gap: 0 12px;
}
.controls .contact i {
  color: #ffffff;
}
.controls .contact-name {
  font-size: 16px;
  font-weight: 500;
  color: #f1f1f1;
}
.controls .auth .menu {
  display: inline-flex;
  align-items: center;
  gap: 0 16px;
  list-style: none;
}
.controls .auth .menu-item {
  color: #F1F1F1;
}
.controls .auth .menu-link {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}
.controls .auth .menu-item:last-child {
  margin-left: 10px;
}

.nav {
  margin-top: 19px;
  margin-bottom: 19px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 0 88px;
}
.nav .menu {
  display: inline-flex;
  align-items: center;
  gap: 0 35px;
  list-style: none;
}
.nav .menu-link {
  color: #0d0e43;
  font-size: 16px;
  font-weight: 500;
}
.nav .menu-link i {
  color: inherit;
  font-size: 12px;
}

.active {
  color: #FB2E86 !important;
}

.brand {
  font-size: 35px;
  font-weight: 700;
  color: #0d0e43;
}

.hero {
  background-color: #f2f0ff;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.hero .immage-1 {
  position: absolute;
  top: 0;
  left: -200px;
}
.hero-content {
  max-width: 644px;
  width: 100%;
}
.hero-image {
  transform: translateX(12%);
  flex: 1 1 80%;
}
.hero-image img {
  width: 100%;
}
.hero-heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.3461538462;
  letter-spacing: 0.015em;
  color: #000000;
  margin-bottom: 12px;
}
.hero-desc {
  max-width: 573px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.8666666667;
  color: #8a8fb9;
  margin-bottom: 27px;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.dots .dot {
  width: 10px;
  height: 10px;
  border: 1px solid #FB2E86;
  transform: rotate(-45deg);
  cursor: pointer;
}
.dots .active {
  background-color: #FB2E86;
}

.featured {
  margin-top: 129px;
}
.featured-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
}
.featured-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.leatest {
  margin-top: 71px;
  margin-bottom: 58px;
}
.leatest-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 120px 37px;
}
.leatest-heading {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 19px;
}
.leatest-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 60px;
  margin-bottom: 58px;
}
.leatest-tabs .active {
  color: #FB2E86;
  text-decoration: underline;
}
.leatest-item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.leatest-product {
  position: relative;
}
.leatest-image {
  background-color: #f7f7f7;
  padding: 33px 64px 8px 64px;
}
.leatest-image .sales {
  position: absolute;
  left: 18px;
  top: 25px;
}
.leatest-content {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 3.5px;
}
.leatest-name {
  font-weight: 300;
  font-size: 16px;
  margin-left: 5.5px;
}
.leatest-price {
  font-weight: 300;
  font-size: 14px;
  margin-right: 5.5px;
}
.leatest-price b {
  font-weight: 300;
  font-size: 12px;
  color: #FB2E86;
  text-decoration: line-through;
}
.leatest-events {
  position: absolute;
  top: 146px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  transition: all 0.35s linear;
}
.leatest-icon {
  padding: 5px;
  border-radius: 5px;
}
.leatest-icon i {
  color: #2F1AC4;
}
.leatest-icon:hover {
  background-color: #eeeffb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
}
.leatest-icon:hover i {
  color: #2F1AC4;
}

.offer-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0 28px;
}
.offer-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 55px;
}
.offer-item {
  padding: 56px 27px 45px 27px;
  box-shadow: rgba(222, 222, 222, 0.35) 0px 1px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0;
}
.offer-content {
  text-align: center;
}
.offer-content-heading {
  font-size: 22px;
  line-height: 1.1818181818;
  margin-bottom: 20px;
}
.offer-content-desc {
  width: 100%;
  min-width: 217px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: rgba(26, 11, 91, 0.3);
}

.unique {
  background-color: #f2f0ff;
  padding: 15px 0;
  margin-top: 135px;
}
.unique-container {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.unique-heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 132%;
  letter-spacing: 0.015em;
  margin-bottom: 29px;
}
.unique-image {
  flex: 1 1 100%;
}
.unique .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px 0;
  margin-bottom: 38px;
}
.unique .menu-item {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.unique .menu-item span:first-child {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.unique .menu-text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #acabc3;
}
.unique .bottom {
  display: flex;
  gap: 0 19px;
  align-items: center;
}
.unique .bottom .info span {
  display: block;
}
.unique .bottom .info-name {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  margin-bottom: 6px;
}
.unique .bottom .info-price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2142857143;
}

.menu-icon1 {
  background-color: #FB2E86;
}

.menu-icon2 {
  background-color: #2F1AC4;
}

.menu-icon3 {
  background-color: #08D15F;
}

.trend {
  margin-top: 132px;
}
.trend-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 39px;
}

.off {
  margin-top: 39px;
  display: flex;
  align-items: center;
  gap: 0 29px;
}
.off .box {
  position: relative;
  height: 270px;
}
.off .box img {
  position: absolute;
  top: 61px;
  right: 0;
}
.off .box-content {
  margin-top: 34px;
  margin-left: 25px;
}
.off .box-heading {
  font-size: 26px;
  line-height: 1.1538461538;
}
.off .box a {
  color: #FB2E86;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1875;
}
.off .box:nth-child(1) {
  flex: 1;
  background-color: #fff6fb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}
.off .box:nth-child(2) {
  flex: 1;
  background-color: #eeeffb;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}

.discount {
  margin-top: 126px;
  position: relative;
}
.discount-container {
  display: flex;
  align-items: center;
}
.discount-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 33px;
}
.discount-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  margin-bottom: 111px;
}
.discount-tabs .active {
  color: #FB2E86;
  text-decoration: underline;
}
.discount-item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
}
.discount-content-heading {
  font-weight: 700;
  font-size: 35px;
  line-height: 132%;
  letter-spacing: 0.015em;
  margin-bottom: 16px;
}
.discount-content-name {
  color: #FB2E86;
  font-weight: 300;
  font-size: 21px;
  line-height: 132%;
  letter-spacing: 0.015em;
  margin-bottom: 20px;
}
.discount-content-desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7647058824;
  letter-spacing: 0.02em;
  color: #b7bacb;
  margin-bottom: 28px;
  width: 100%;
  max-width: 523px;
}
.discount-content .group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px 44px;
  list-style: none;
  margin-bottom: 37px;
}
.discount-content .group-item {
  width: 262px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.02em;
  color: #b8b8dc;
}
.discount-content .group-item i {
  color: #7569B2;
  margin-right: 5px;
}
.discount-content a {
  font-weight: 300;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 20px 48px;
}
.discount-image {
  position: absolute;
  top: 60px;
  right: 110px;
}

.top {
  margin-top: 130px;
}
.top-heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 56px;
}

.banner {
  background-image: url("../images/28-2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  object-fit: fill;
  width: 100%;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 180px 0;
}
.banner-content {
  width: 100%;
  max-width: 574px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-content-heading {
  font-weight: 700;
  font-size: 34px;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.015em;
  margin-bottom: 28px;
}

.brand {
  margin-bottom: 96px;
}
.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand img {
  max-width: 100%;
}

.blog {
  margin-bottom: 115px;
}
.blog-container {
  display: flex;
  align-items: center;
  gap: 0 56px;
}
.blog-heading {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
}
.blog-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
}
.blog-image img {
  border-radius: 8px;
}
.blog-info {
  display: flex;
  align-items: center;
  gap: 0 32px;
  margin-top: 19px;
  margin-bottom: 31px;
}
.blog-account i {
  color: #FB2E86;
  margin-right: 7.5px;
}
.blog-account span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}
.blog-date i {
  color: #ffa454;
  margin-right: 7.5px;
}
.blog-date span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}
.blog-content {
  padding: 0 14px;
}
.blog-content-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 17px;
}
.blog-content-desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #72718f;
  margin-bottom: 14px;
}
.blog a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-decoration-line: underline;
  color: inherit !important;
}

.footer {
  background-color: #eeeffb;
}
.footer-container {
  padding-top: 95px;
}
.footer .heading {
  margin-bottom: 31px;
}
.footer h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
}
.footer h3 {
  font-size: 22px;
  line-height: 1.1818181818;
}
.footer .contact {
  display: block;
  margin-top: 25px;
}
.footer .address {
  margin-top: 10px;
}
.footer .contact,
.footer .address {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8a8fb9;
}
.footer input::placeholder {
  color: #8a8fb9;
}
.footer .menu {
  display: flex;
  flex-direction: column;
  gap: 21px 0;
  list-style: none;
}
.footer .menu-link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #8a8fb9;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.author {
  flex: 100%;
  background-color: #e7e4f8;
  margin-top: 110px;
}
.author-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
}
.author .name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #8a8fb9;
}
.author .social {
  display: flex;
  align-items: center;
  gap: 0 17px;
}
.author .social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #151875;
  transition: all 0.35s linear;
}
.author .social a i {
  color: inherit;
}
.author .social a:hover {
  background-color: #ffffff;
}
.author .social a:hover i {
  color: #000000;
}

/*# sourceMappingURL=app.css.map */
